<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.listado}"></title>
</head>
<body>
    <table border="1">
        <caption>MEDICION</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Año</th>
                <th>Temperatura</th>
                <th>Viento</th>
                <th>Precipitacion</th>
                <th>Radiacion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r: ${registro}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.latitud}"></td>
                <td th:text="${r.longitud}"></td>
                <td th:text="${r.anny}"></td>
                <td th:text="${r.temperatura}"></td>
                <td th:text="${r.viento}"></td>
                <td th:text="${r.precipitacion}"></td>
                <td th:text="${r.radiacion}"></td>
                <td>
                    <a th:href="@{/mediciones/update(id=${r.id})}">Editar</a>
                    <a th:href="@{/mediciones/delete/{id}(id=${r.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-12">
        <a class="btn btn-primary" th:href="@{/mediciones/index}">Cancelar y regresar</a>
    </div>
</body>
</html>